<meta charset="utf-8" >
<meta name="description" content="Visual style guide used by this site.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
<meta itemprop="name" content="Visual Style Guide — Bowser">
<meta itemprop="description" content="Visual style guide used by this site.">
<link rel="stylesheet" href="styles/components.css">
<title>{{ file.frontMatter.title }}</title>
<style>
  .auto-gen-code-snippet {
    display: none;
  }
  .auto-gen-code-visible {
    display: block;
  }
</style>