<div class="container">
  <h1>{{ file.frontMatter.title }}</h1>
</div>

<div class="summary-header">
  <div class="container">
    <h2 class="summary-header__title">Visual Style Guide</h2>
    <ol class="summary-header__anchor-list  list-links">
      <li class="summary-header__anchors-item"><a href="#typography">Typography</a></li>
      <li class="summary-header__anchors-item"><a href="#buttons">Buttons</a></li>
      <li class="summary-header__anchors-item"><a href="#lists">Lists</a></li>
      <li class="summary-header__anchors-item"><a href="#links">Links</a></li>
      <li class="summary-header__anchors-item"><a href="#icons">Icons</a></li>
      <li class="summary-header__anchors-item"><a href="#breadcrumbs">Breadcrumbs</a></li>
      <li class="summary-header__anchors-item"><a href="#table">Table</a></li>
      <li class="summary-header__anchors-item"><a href="#grid">Grid</a></li>
      <li class="summary-header__anchors-item"><a href="#colors">Colors</a></li>
      <li class="summary-header__anchors-item"><a href="#highlights">Highlights</a></li>
      <li class="summary-header__anchors-item"><a href="#editorial-header">Editorial header</a></li>
      <li class="summary-header__anchors-item"><a href="#article-section">Article section</a></li>
      <li class="summary-header__anchors-item"><a href="#guides-section">Guides section</a></li>
      <li class="summary-header__anchors-item"><a href="#page-header">Page header</a></li>
      <li class="summary-header__anchors-item"><a href="#quote">Quote</a></li>
      <li class="summary-header__anchors-item"><a href="#guides-intro">Featured icons</a></li>
      <li class="summary-header__anchors-item"><a href="#featured-spotlight">Featured spotlight</a></li>
      <li class="summary-header__anchors-item"><a href="#featured-list">Featured list</a></li>
      <li class="summary-header__anchors-item"><a href="#next-lessons">Featured block</a></li>
      <li class="summary-header__anchors-item"><a href="#article-navigation">Article navigation</a></li>
    </ol>
  </div>
</div>