<nav class="navdrawer-container promote-layer">
  <h4>Navigation</h4>
  <ul>
    <li><a href="#section-2" data-animate-scroll>Home</a></li>
    <li><a href="#section-3" data-animate-scroll>Services</a></li>
    <li><a href="#section-5" data-animate-scroll>LaunchPad</a></li>
    <li><a href="#section-6" data-animate-scroll>Our Process</a></li>
    <li><a href="#section-7" data-animate-scroll>Founders</a></li>
    <li><a href="#section-8" data-animate-scroll>Contact Us</a></li>
    
    <!-- <li><a href="styleguide/index.html">Style Guide</a></li> -->
  </ul>
</nav>